html,
body {
  letter-spacing: normal;
  font-weight: 500;
  height: 100%;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

#fwtxt{
  margin-top: 80px;
}

#wealthimg{
  margin-top: 50px;
  align-self: center;
  max-width: 350px;
  max-height: 350px;
}

#educationimg, #managementimg{
  align-self: center;
  max-width: 350px;
  max-height: 350px;
}

#contactsec{
  margin-bottom: 50px;
}

#servicestop{
  margin-top: 5rem;  
}

#trust{
  max-width: 250px;
  max-height: 250px;
}

#asset{
  max-width: 420px;
  max-height: 420px;
}

#seeworks{
  color: blue;  
}

#iconssec{
  margin-top: 80px;
  margin-bottom: 50px;
}



.gradient {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(107,241,237,1) 0%, rgba(57,153,179,1) 50%, rgba(61,104,237,1) 100%);
}

.page-header {
  margin-top: 4rem;
  font-size: 1.25rem;
  color: #fff;
}

.feature {
  color: #fff;
}

.feature ul {
  padding-left: 2rem;
  list-style-type: none;
}

.feature ul li {
  padding-left: 2rem;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.icon {
  color: #fff;
  height: 5rem;
  width: 5rem;
  font-size: 1.75rem;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  background-color: whitesmoke;
}

.gallery img {
  border-radius: 5%;
}

.services {
  color: #fff;
}

footer {
  color: #fff;
  font-size: 1rem;
  margin: 0;
  padding: 1rem;
}

a {
  color: #fff;
  text-decoration: none;
}

.companies, .icons{
  margin-bottom: 2rem;
}
