html, body{
    font-family: "Montserrat", sans-serif;
}

#login-page, #register-page {
    letter-spacing: normal;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    width: 100%;
    min-height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(107,241,237,1) 0%, rgba(57,153,179,1) 50%, rgba(61,104,237,1) 100%);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h4#pass_warning{
    font-size: 20px;
}

form{
    margin-block-end: 0;
}

.cont {
    margin-top: 80px;
    min-width: 400px;
    min-height: 400px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 20px 25px;
}

.cont .login-text {
    color: #111;
    font-weight: 500;
    font-size: 1.0rem;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    text-transform: capitalize;
}

.cont .login-social {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));

}

.cont .login-social a {
    padding: 12px;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    color: #FFF;
    transition: .3s;
}

.cont .login-social a i {
    margin-right: 5px;
}

.cont .login-social a.facebook {
    background: #4267B2;
}

.cont .login-social a.twitter {
    background: #1DA1F2;
}

.cont .login-social a.google-plus {
    background: #db4a39;
}

.cont .login-social a.linkedin {
    background: #0e76a8;
}

.cont .login-social a.facebook:hover {
    background: #3d5fa3;
}

.cont .login-social a.twitter:hover {
    background: #1991db;
}

.cont .login-social a.google-plus:hover {
    background: #ca4334;
}

.cont .login-social a.linkedin:hover {
    background: #0b5c81;
}

.cont .login-email .input-group {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
}

.cont .login-email .input-group input {
    width: 100%;
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: .3s;
}

.cont .login-email .input-group input:focus, .cont .login-email .input-group input:valid {
    border-color: #a29bfe;
}

.cont .login-email .input-group .btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #a29bfe;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
}

.cont .login-email .input-group .btn:hover {
    transform: translateY(-5px);
    background: #6c5ce7;
}

.login-register-text {
    color: #111;
    font-weight: 500;
}

.login-register-text a {
    text-decoration: none;
    color: #6c5ce7;
}


#message {
    display: none;
    color: #000;
    margin: 5px;
  }
  
  #message p {
    margin: 8px 15px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -15px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -15px;
    content: "✖";
  }